<main class="container mt-5">
  <div class="container-fluid vh-100">
    <div class="row h-100">
      <!-- Coluna 1 -->
      <div
        class="col-md-4 d-flex align-items-center justify-content-center bg-light"
      >
        <div class="auth-box w-100">
          <h5>Entrar no <span class="text-primary">Care Plus</span></h5>

          <button class="btn btn-secondary w-100 mt-3">
            Fazer login com o Google
          </button>

          <button class="btn btn-secondary w-100 mt-2">Entrar com Apple</button>

          <p class="text-center small mt-3">
            ou digite seu Email para <b>criar</b> ou <b>acessar</b> sua conta
          </p>

          <button class="btn btn-secondary w-100 mt-2" href="#/auth">
            Avançar
          </button>
        </div>
      </div>

      <!-- Coluna 2 -->
      <div class="col-md-4 d-flex align-items-center justify-content-center">
        <div class="auth-box w-100">
          <h5>Entrar no <span class="text-primary">Care Plus</span></h5>

          <div class="position-relative mt-3">
            <input
              type="password"
              class="form-control"
              placeholder="Digite sua senha"
            />
            <span class="eye">👁</span>
          </div>

          <button class="btn btn-secondary w-100 mt-3">Fazer login</button>

          <p class="small mt-2">Esqueceu sua senha?</p>
        </div>
      </div>

      <!-- Coluna 3 -->
      <div
        class="col-md-4 d-flex align-items-center justify-content-center bg-light"
      >
        <div class="auth-box w-100">
          <h5>
            Vamos criar sua conta <span class="text-primary">Care Plus</span>
          </h5>

          <input
            type="text"
            class="form-control mt-3"
            placeholder="Digite seu nome"
          />
          <input
            type="email"
            class="form-control mt-2"
            placeholder="Digite seu email"
          />

          <div class="position-relative mt-2">
            <input
              type="password"
              class="form-control"
              placeholder="Digite sua senha"
            />
            <span class="eye">👁</span>
          </div>

          <div class="position-relative mt-2">
            <input
              type="password"
              class="form-control"
              placeholder="Confirme sua senha"
            />
            <span class="eye">👁</span>
          </div>

          <button class="btn btn-secondary w-100 mt-3">Criar conta</button>

          <p class="text-center small mt-2">
            Você já tem uma conta?
            <span class="text-primary">Acesse sua conta</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
