<main class="container mt-5">
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Card 1</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
            inventore minima enim? Distinctio sint eius tempore illo! Adipisci
            minus accusantium, quod iste voluptates laudantium at impedit
            incidunt corrupti, nesciunt quaerat?
          </p>
          <a href="#" class="btn btn-primary">Ver mais</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Card 2</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
            inventore minima enim? Distinctio sint eius tempore illo! Adipisci
            minus accusantium, quod iste voluptates laudantium at impedit
            incidunt corrupti, nesciunt quaerat?
          </p>
          <a href="#" class="btn btn-primary">Ver mais</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Card 3</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
            inventore minima enim? Distinctio sint eius tempore illo! Adipisci
            minus accusantium, quod iste voluptates laudantium at impedit
            incidunt corrupti, nesciunt quaerat?
          </p>
          <a href="#" class="btn btn-primary">Ver mais</a>
        </div>
      </div>
    </div>
  </div>
</main>
